.popup__closeIcon {
  border: none;
  background-image: url(../../../images/CloseIcon.svg);
  background-color: black;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.popup__closeIcon:hover {
  opacity: 60%;
  transition: 0.3s;
} 