.popup__closeIcon {
  border: none;
  background-image: url(../../../images/CloseIcon.svg);

  object-fit: contain;
  background-color: black;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.popup__closeIcon:hover {
  opacity: 60%;
  transition: 0.3s;
} 
@media screen and (max-width: 700px){
  .popup__closeIcon {
    top: -35px;
    right: 0px;
    width: 20px;
    height: 20px;
  }
}